<div class="container-main form-contact-new">
	<table height="400" width="600" align="center" valign="content_area">
		<tbody>
			<tr valign="bottom">
				<td align="center">
					<img src="assets/images/logo-test-4.png"/>
				</td>
			</tr>
			<tr valign="bottom">
				<td align="center">
					<h1>Loyalty is Expensive</h1>
				</td>
			</tr>
			<tr valign="top">
				<td>
					<center>
						<strong>Scannibal</strong>
						 is a revolutionary new take on rewards programs. We are putting a competitive twist on mobile rewards that helps businesses spend less so they can give better value to the people who care. We are currently under development and making great strides! Sign up to get updates and info as we get closer to release. We are excited to help you get more out of every shopping experience!
					</center>
					<center></center>
					<center>Have a question? Send us an email at ScannibalApp@gmail.com</center>
					<br>
					<form>
						<div class="form-group">
							<label for="exampleContactEmail">Contact Email</label>
							{{input class="form-control" id="exampleContactEmail" value=contact.email placeholder="Contact"}}
						</div>
						<div class="form-group">
							<center><button {{action "subscribeContact"}} style="color: black;">Subscribe</button></center>
						</div>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</div>
