<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header" href="#">
			<a class="navbar-brand" href="#">Scannibal</a>
		</div>
		<ul class="nav navbar-nav">
			{{#if session.isAuthenticated}}
			<li>{{#link-to 'contacts.index'}}Contacts{{/link-to}}</li>
			{{/if}}
			<li>{{#link-to 'contacts.new'}}Add New Contact{{/link-to}}</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{{#if session.isAuthenticated}}
			<li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
			{{else}}
			<li><a href="#" {{action 'authenticateSession'}}>Login</a></li>
			{{/if}}
		</ul>
	</div>
</nav>
{{outlet}}
